.settingsPageContaienr {
  padding: 10px 10px 10px 50px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.settingsPageContaienr h2 {
  color: #5D7285;
  font-size: 2rem;
}

.settingsContentContainer {
  height: 100%;
  
}

.updateForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88%;
}

.updateForm div {
  display: flex;
  flex-direction: column;
}

.settingsContentContainer label {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
}

.settingsContentContainer input {
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  height: 30px;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  background: white;
  color: #31393C;
  padding: 10px;

}

.settingsContentContainer input:hover {
  box-shadow: 0 0 0 2px #33A1FD;
}

.settingsPageContaienr button {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: white;
  color: #31393C;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
  width: 150px;
  transition: .2s ease-in-out;
}

.settingsPageContaienr button:hover {
  background-color: #FDCA40;
  transform: scale(1.03);
  
}
.buttonContainer {
  align-items: flex-end;
  padding: 0px 20px 20px 0px;
}